*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    background: #565;
}
.main-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid red;
    height: 300px;
    margin-top: 30px;
}
.text-container{
    display: flex;
    align-items: center;
}
.text-container{
    flex-direction: column;
}
.text-container div{
    color: #fff;
}
.main-container > button{
    background: green;
    box-shadow: 0 0 0 0.25;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 30px;
}